@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Space+Grotesk:wght@500&display=swap");

.navitems {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  align-items: center;
}

.navitems:hover {
  cursor: pointer;
}

.navitems p:hover,
.navitems p a:hover {
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  color: transparent;
  background-clip: text;
}

.middle,
.right {
  display: flex;
}

.middle p a {
  padding: 0 17px 0 20px;
  text-decoration: none;
  color: white;
}

.right p {
  padding: 0 0 0 17px;
}

.left {
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
}

.leftToRight {
  animation-name: leftToRight;
}

.rightToLeft {
  animation-name: rightToLeft;
}

@keyframes leftToRight {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes rightToLeft {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.menu-container {
  padding: 20px;
  color: black;
  text-align: center;
}

.menu-container a {
  text-decoration: none;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  line-height: 60px;
  font-size: 30px;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  z-index: 9999;
}
