* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(#130749 30%, #0f051d 70%);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ba04b7;
  border: 1px solid #fff;
  border-radius: 10px;
}